.footer-border{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F9C73F;
    background-size: cover;
}

.text-footer{
    text-align: center;
    float: center;
}

.masthead {
  height: 100vh;
  min-height: 500px;
}

.login{
  
}
