{% extends "base.html" %}

{% load static %}
{% block page_content %}
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Hallo, {{ user.get_username }}!</h1>
        <a class="btn btn-primary" href="{% url 'story9:logout_view' %}">Logout</a>
      </div>
    </div>
  </div>
</header>
{% endblock %}
