{% extends "base.html" %}

{% load static %}
{% block page_content %}
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <form action="" method="POST" class="all-form">
          {% csrf_token %}
          <h1 class="font-weight-light">Please login first</h1>
          <div class="form-group">
            <label>Username</label>
            {{ form.username}}
          </div>
          <div class="form-group">
            <label>Password</label>
            {{ form.password}}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <h6>if you don't have account, please register
          <a href="{% url 'story9:register_view' %}"> here</a></h6>
        </form>
      </div>
    </div>
  </div>
</header>
{% endblock %}
