{% extends "base.html" %}

{% load static %}
{% block page_content %}
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center form-column outer-form">
        <form action="" method="POST" class="all-form">
          {% csrf_token %}
          <h1 class="font-weight-light">Register Your Account</h1>
          <div class="form-group">
            <label>Username          </label>
            {{ form.username}}
          </div>
          <div class="form-group">
            <label>Email             </label>
            {{ form.email}}
          </div>
          <div class="form-group">
            <label>Confirm Your Email</label>
            {{ form.email2}}
          </div>
          <div class="form-group">
            <label>Password          </label>
            {{ form.password}}
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
  </div>
</header>
{% endblock %}
