{% extends "base.html" %}

{% load static %}
{% block page_content %}
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Welcome to After UTS Story</h1>
        <p class="lead">A compilation of PPW stories after mid-exam</p>
      </div>
    </div>
  </div>
</header>
{% endblock %}
